!!! 5
- load staticfiles
html
	head
		title Welcome!
		meta(charset="UTF-8")
		link(rel="stylesheet", type="text/css", href="{% static 'css/font-awesome-4.4.0/css/font-awesome.css' %}")
	body
		header(class="Header")
			include ./components/header/header.jade